body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica"
}

/* UTILITIES */
.visibility-reverse{
  display: block;
}
.visibility{
  display: none;
}
.margin-bottom{
  margin-bottom: 20px;
}
.fixed-bottom{
  position: fixed;
  bottom: 0;
  left: 23%;
  margin-bottom: 50px;
  font-size: 12px;
  padding: 5px;
  font-weight: 700;
}
.babyshrk{
  transform: scale(.2);
  position: relative;
  top: 180px;
  left: 70px;
}
.fa-comment-dots{
  color: red;
  font-size: 30px;
  position: relative;
  top: 150px;
  right: 90px;
}
.helper-fish{
  width: 200px;
  background-color: #FFFF;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 10px;
}
.title-h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;

}
.grey-title{
  color: grey;
  font-size: 24px;
}
.blue-title{
  font-size: 24px;
  color: rgb(3, 27, 78);
  font-weight: 700;
  padding: 5px;
}
.grey{
  color: lightgrey;
  font-weight: 300;
}
.row{
  position: relative;
}
.relative{
  position: relative;
}
.move-10-top{
  position: relative;
  top: 10px;
  }

.darkblue{
color: rgb(3, 27, 78);
}

.border-bottom{

  border-bottom: 1px solid #FFF;
}
b{
  font-size: 26px;

}
.bold{
  font-weight: bold;
  vertical-align: middle;

}

/* <!-- NAVBAR FIXED --> */
.logo{
  width: 100%;
  vertical-align: middle;
}
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-left{
  vertical-align: middle;
}
.navbar-right{
  vertical-align: middle;
}
.inline{
  display: inline-block;
}

.fa-bars{
  font-size: 24px;
  line-height: 100%;
  color: #005eff;
  cursor: pointer;
}
/* <!-- FINE NAVBAR FIXED --> */
/* <!-- JUMBO + FORM --> */
/* JUMBO */
.jumbo{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  color: #FFF;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");

  background-repeat: repeat;
}
.title_jumbo{
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
  text-align: left;
  text-shadow: 2px 2px black;
}
.text_jumbo{
  font-size: 22px;
  text-align: left;
  padding-bottom: 10px;
}

/* FINE JUMBO */
/* FORM */
.form{
  background-color: #ffffff;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-weight: 300;
  padding: 10px 10px;
}
.title-form{
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.btn-create-account{
  background-color: #579aff;
  color: #ffffff;
  border-radius: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.input-crea{
  margin-bottom: 10px;
  padding: 10px;
}
.padding-10{
  padding: 10px;
  margin: 1px;
}
.font-10{
  font-size: 14px;
  cursor: pointer;
}
.icon-google{
  transform: scale(.8);
  text-align: left;
  margin-right: 5px;
}
.btn-default{
  background-color: #ffffff ;
}
.w-100{
  width: 100%;
}
.bg-blue{
  background-color: #579aff;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
}
.bg-default{
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  color: #579aff;
  border-radius: 4px;
  padding: 10px 20px;
}
/* FINE FORM */
/* <!-- LOGHI AZIENDE PARTNER--> */
.partner_logo{
  background-color: #f3f5f9;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.text-iceblue {
  color: #096fff;
  font-weight: 700;
}
/* <!-- FINE LOGHI AZIENDE PARTNER--> */
/* <!-- DEPLOY AND SCALE  --> */
.deployments{
  padding-top: 30px;
  padding-bottom: 30px;
}
.subtitle{
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
}
 .border-left{
   border-left: 1px solid lightgrey;
   padding-top: 10px;
   font-size: 20px;
   display: block;
 }
/* <!-- FINE DEPLOY AND SCALE  --> */
/* <!-- DESIGN --> */
.design{
    background-color: #f3f5f9;
    padding-top: 30px;
    padding-bottom: 70px;
}

.carrousel{
width: 100%;
margin-top: 30px;
margin-bottom: 30px;

}
.fa-caret-square-right,.fa-caret-square-left{
  background-color: #fff;
  color: #004aff;
  position: absolute;
  top: 100px;

}
.move-right{
  position: relative;
  right: 20px;
}
.fa-caret-square-right:hover{

  transform: scale(3);
}
.fa-caret-square-left:hover{

  transform: scale(3);
}
.fa-genderless:hover{
  color: #004aff;
  transform: scale(3);
}
/* <!-- FINE DESIGN --> */
/* <!-- FEATURES --> */
.features{
  padding-top: 50px;
  padding-bottom: 50px;
}


/* <!-- FINE FEATURES --> */
/* <!-- REGIONI NEL MONDO GRAFICO --> */
.regions{
  background-color: #004aff;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 2px 2px black;
}



/* <!-- FINE REGIONI NEL MONDO GRAFICO --> */
/* <!-- DEVELOPMENT TEAMS --> */
.teams{
  background-color: #f3f5f9;
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrap_img{
  width: 100%;
  text-align: center;
}
.read_the_box{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
  text-align: center;
}


/* <!-- FINE DEVELOPMENT TEAMS --> */
/* <!-- BUTTON GET STARTED  --> */
.get_started{
  background-color: #004aff;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 2px black;
}
.btn_create_account{
  background-color: #ffffff;
  color: #096fff;
  border-radius: 4px;
  padding: 10px 10px;

}

/* <!-- FINE BUTTON GET STARTED  --> */
/* FOOTER */
.foot{
  background-color: rgb(3, 27, 78);
  color: white;
  font-weight: 600;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 30px;
}
h6.title-foot{
  font-size: 23px;
}
.foot-list-item{
  list-style: none;
  color:
}
.foot-list-item>li>a{
  color: lightgrey;
  margin-left: -30PX;
}

/* FINE FOOTER */
/* MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default for me*/

/* Small devices (tablets, 768px and up) */
@media all and (min-width: 768px ) {
  .fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 63%;
    margin-bottom: 50px;
    font-size: 12px;
    padding: 5px;
    font-weight: 700;
  }

}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px ) {
  .fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 63%;
    margin-bottom: 50px;
    font-size: 12px;
    padding: 5px;
    font-weight: 700;
  }
  .visibility-reverse{
    display:  block;
  }
  .visibility{
 display: none;
  }

  .navbar{
  padding-bottom: 20px;
  }
  .sign-up{
    border: 2px solid #096fff;
    padding: 9px 18px;
    color: #096fff;
    margin-top: -10px;
  }


}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  .fixed-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    font-size: 12px;
    padding: 5px;
    font-weight: 700;
  }

  .visibility-reverse{
    display: none;
  }
  .visibility{
    display: block;
    font-size: 22px;
  }

  .btn_create_account{
    background-color: #ffffff;
    color: #096fff;
    border-radius: 4px;
      font-size: 24px;
      padding: 20px 30px;

  }
  .sign-up{
    border: 2px solid #096fff;
    padding: 9px 18px;
    color: #096fff;
    position: relative;
    bottom: 10px;
  }

}
